@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #050b1a;
  font-family: "Manrope", sans-serif;
  align-items: center;
  justify-content: center;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/* Custom scrollbar styling for Chrome/Safari */
.scroll-box::-webkit-scrollbar {
  width: 0px; /* Very thin bar */
}

.scroll-box::-webkit-scrollbar-track {
  background: transparent; /* No background track */
}

.scroll-box::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Subtle grey handle */
  border-radius: 10px; /* Rounded edges */
}

#game-page {
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 2rem;
  margin: 2rem;
}

#login-page {
  /* width: 100vh; */ /* This can make it too wide on portrait screens */
  display: flex; /* Use flexbox for easier centering */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: white;
  text-align: center;
}

#login-page h2 {
  font-size: 2.5vmin;
  font-weight: 800;
  color: #a3aac4;
}

#login-page input {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  font-size: 1rem;
  background-color: #192540;
  color: #a3aac4;
  margin-bottom: 2vmin;
}

#login-page button {
  background-color: #34cfea;
  color: #192540;
  font-size: 2vmin;
}

#join-card {
  display: grid;
  grid-auto-flow: row;
  padding: 3vmin;
  background-color: #192540;
  border-radius: 1rem;
  gap: 1rem;
}

#joinButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vmin;
}

#login-page #createBtn {
  background-color: #2ef784;
}

#board {
  user-select: none;
  border: 5px solid black;
  border-radius: 8px;
  display: grid;
  aspect-ratio: 1 / 1;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

#boardButtons {
  width: 80vmin;
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
  gap: 1rem;
}

#joinButtons .material-icons .adapt {
  font-size: 3vmin;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2vmin;
  font-weight: 800;
  color: #a3aac4;
  background-color: #192540;
  padding: 2vmin;
  border-radius: 1rem;
  cursor: pointer;
  border: 0px;
  gap: 1rem;
}

#boardButtons #resetBtn {
  background-color: #34cfea;
  color: #192540;
}

.otp-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

#join-card .otp-container input {
  background-color: #1f2b49;
  width: 4vmin;
  height: 5vmin;
  text-align: center;
  font-size: 4vmin;
  font-weight: bold;
  border: 2px solid #34cfea;
  border-radius: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

#join-card .otp-container input:focus {
  border-color: #2ef784; /* Highlights the active box */
}

.tableContainer {
  display: block;
  width: 40vmin;
  background-color: #091328;
  color: white;
  border-radius: 1rem;
  margin: 1rem;
  /* height: 80vmin; */
}

.tableContainer p#roomCode {
  text-align: center;
  font-size: 4vmin;
  font-weight: bold;
  color: #2ef784;
}

.moveTableContainer {
  display: block;
  overflow-y: auto;
  max-height: 60vmin;
}

.tableContainer h2 {
  font-size: 2vmin;
  color: #a3aac4;
  text-align: center;
  margin: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 60vmin;
}

thead,
tbody {
  display: block;
}

tbody {
  overflow-y: auto;
  overflow-x: hidden;
}

tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  font-size: 2vmin;
}

tr :first-child {
  color: #a3aac4;
  font-size: 1.5vmin;
  width: 10%;
}

tr :nth-child(2) {
  font-weight: 900;
}

th,
td {
  border-bottom: 1px solid #1f2b49;
  padding: 8px;
  text-align: left;
}

tr:hover {
  background-color: #0b1f2c;
}

.square {
  width: 10vmin;
  height: 10vmin;
  font-size: 10vmin;
  text-align: center;
  color: #a3aac4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  background-color: #1f2b49;
}

.black {
  background-color: #192540;
}

.highlightEmpty {
  box-shadow: inset 0 0 0 1000px #63b4ff27;
  cursor: pointer;
}

.highlightEnemy {
  box-shadow: inset 0 0 0 1000px #97242477;
  cursor: pointer;
}

#gameContainer {
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
  /* Make #gameContainer a flex container to center its children (like #board) */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children along the main axis (vertical) */
  align-items: center; /* Center children along the cross axis (horizontal) */
}

.hidden {
  display: none !important;
}

#resignConfirmation {
  background-color: #091328;
  color: #a3aac4;
  border: none;
  border-radius: 1rem;
  width: 30%;
  max-width: 600px;
  text-align: center;
  font-size: 2vmin;
}

#resignConfirmation #dialogButtons {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  padding: 1rem;
}

#resignConfirmation #dialogButtons button {
  font-size: 2vmin;
}

#resignConfirmed {
  background-color: #972424;
}

dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(8px); /* The actual blur effect */
}
